{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": ["prettier", "svelte3", "cypress"],
  "extends": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
